<!DOCTYPE html>
<html>
<head>
  <title>Nord Alliance</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="<%= root_path %>">Nord Alliance</a></h1>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="<%= root_path %>">Home</a></li>
							<li><a href="http://www.ooo-transcontinent.ru">Partner in Russia</a></li>
							<!-- <li><a href="<%= riga_path %>">Office in Latvia</a></li> -->
							<li><a href="<%= contacts_path %>">Contacts</a></li>
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->
		
	<%= yield %>

	<!-- Copyright -->
	<div id="copyright" class="container">
		Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
	</div>
</body>
</html>
